body {
  font-family: 'Raleway', sans-serif;
  display: grid;
  align-items: center;
  justify-content: center;
  justify-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f7f7f7;
}

.calculator {
  text-align: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
  max-width: 500px;
  width: auto;
  transition: transform 0.3s ease-in-out;
}

.calculator:hover {
  transform: scale(1.02);
}

.icon-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.icon-container i {
  font-size: 36px;
  margin: 0 10px;
  color: #3498db;
  transition: transform 0.3s ease-in-out;
}

.icon-container i:hover {
  transform: scale(1.2);
}

label {
  display: block;
  margin-bottom: 15px;
  font-size: 18px;
  color: #555;
}

input {
  width: calc(100% - 20px);
  padding: 12px;
  margin-bottom: 20px;
  box-sizing: border-box;
  font-size: 16px;
  border: 1px solid #3498db;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s;
}

input:focus {
  border-color: #2980b9;
}

button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #2980b9;
}

.result-box {
  margin-top: 30px;
  padding: 20px;
  border-radius: 8px;
  background-color: #3498db;
  color: #fff;
  font-size: 18px;
}

.special-message-box {
  margin-top: 20px;
  padding: 20px;
  border-radius: 8px;
  background-color: #e74c3c;
  color: #fff;
  font-size: 18px;
  animation: fadeIn 1s ease-in-out;
}

footer{
  text-align: center;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 500px) {
  .calculator {
    padding: 20px;
    margin: 20px;
  }
}

.heading {
  font-size: 36px;
  font-weight: bold;
  color: #3498db;
  margin-bottom: 20px;
  position: relative;
  animation: fadeInUp 1s ease-in-out;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
